.about-container {
  .container {
    padding-bottom: 0;
  }

  .profile {
    height: 100%;

    .profile-name {
      margin-bottom: 10px;

      a {
        font-size: 16px;
        color: #12b8ff;

        .fa {
          color: #ed6302;
          vertical-align: text-bottom;
          font-size: 20px;
        }
      }
    }

    .profile-pic {
      align-self: flex-end;
    }

    .profile-detail {
      align-self: center;
    }

    .profile-role {
      font-weight: 500;
    }

    .profile-quote {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 200;
      font-style: italic;

      footer {
        text-align: right;
        margin-top: 5px;
        font-weight: 300;
      }
    }
  }
}

@include media-max(md) {
  .profile:first-child {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(198, 199, 202);
  }
}
