@import "_media_queries";

.bio-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  img {
    max-height: 85px;
    max-width: 80%;
    margin: auto;
  }
}

.bio-arq {
  .profile {
    height: 100%;
    display: flex;

    .profile-name {
      margin-bottom: 10px;

      a {
        font-size: 16px;
        color: #12b8ff;

        .fa {
          color: #ed6302;
          vertical-align: text-bottom;
          font-size: 20px;
        }
      }
    }

    .profile-pic {
      align-self: flex-end;
    }

    .profile-detail {
      align-self: center;
    }

    .profile-role {
      font-weight: 500;
    }
  }

  .carousel-indicators-simple {
    .carousel-indicators {
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0 0 5px 0;

      li {
        margin: 0 5px;
      }
    }
  }
}

@include media-max(xs) {
  .bio-arq {
    .profile-detail {
      padding-left: 0;
      font-size: 12px;

      .profile-name a {
        font-size: 14px;
      }
    }
  }
}
