@import "_media_queries";

// Hide carousel indicator
.hide-carousel-indicators .carousel-indicators {
  display: none;
}

// Hide carousel arrows
.hide-carousel-controls .carousel-control {
  display: none;
}

.carousel-indicators .carousel-indicators-numbers {
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: transparent;
  text-indent: initial;

  &.active {
    color: #404040;
  }
}

@include media-max(md) {
  // hide carousel overlay on modal
  .img-overlay {
    pointer-events: none;

    &:hover:after {
      opacity: 0;
    }
  }
}
