@import "_media_queries";

.contact {
  background: #E04600 url(../images/contact-bg.jpg) no-repeat top center;
  background-size: cover;

  color: #FFFFFF;

  .h2 {
    -webkit-text-fill-color: #FFFFFF;
  }

  a {
    color: #441400;
  }

  .btn-submit {
    color: #E04600;
    background-color: #FFFFFF;
  }

  .go-up {
    display: block;
    margin-top: 40px;
  }

  .transparent-input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #FFF;
    border-radius: 0;
    margin-bottom: 40px;

    &:focus {
      box-shadow: none;
      border-bottom-color: $secondary;
    }

    // Placeholder color
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #FFFFFF;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #FFFFFF;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #FFFFFF;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #FFFFFF;
    }
  }

  .contact-info {
    margin-top: 30px;

    p {
      font-size: 15px;
      margin-bottom: 25px;
    }

    .contact-social {
      color: #441400;
      font-size: 20px;
    }

    //@media screen and (min-width: 992px) {
    @include media-min(md) {
      text-align: right;
    }
  }

  .alert-custom {
    background-color: #000;
    color: #FFF;
    opacity: 0.5;
  }
}
