.video-link {
  font-size: 30px;
  font-weight: 200;
  color: #12b8ff;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 15px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include media-max(md) {
  .video-link {
    font-size: 7vw;
  }
}
