.events {
  .logo-container {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }

    // Hide dark logo by default
    .logo-dark {
      display: none;
    }

    // On hover, hide light and show dark
    &:hover, &:active {
      .logo-dark {
        display: block;
      }

      .logo-light {
        display: none;
      }
    }
  }

  .events-column {
    padding: 10px;

    .img-overlay {
      width: 100%;
      min-height: 200px;
      background-size: cover;
      background-position: center center;
    }
  }
}
