.footer {
  background-color: #7D7E7F;
  color: #D1D3D3;
  padding: 15px 0;
  font-size: 13px;

  a {
    float: right;
    margin-left: 15px;
  }

  .logo-developer {
    font-size: 16px;
    font-weight: 600;
    color: #C2C4C5;
  }
}
