@import "_media_queries";

// Outside home-carousel!
.carousel-indicators.home-arrow {
  bottom: 0;
  color: #FFF;
  font-size: 40px;
}

.stats {
  bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  color: #FFF;

  .stats-item {
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
  }

  .stats-item-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .stats-item-icon {
    font-size: 22px;
    margin-right: 15px;
  }

  .stats-item-detail {
    line-height: 1.2;

    .stats-item-total {
      display: block;
      font-size: 16px;
      font-weight: 400;
    }

    .stats-item-label {
      display: block;
      font-size: 10px;
    }
  }
}

.home-carousel {
  height: 100%;
  background-color: #000;

  .carousel-inner {
    height: 100%;

    .item {
      //width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: top center;
      background-color: rgba(0, 0, 0, 0.4);
      background-blend-mode: color;
    }
  }

  .carousel-caption {
    top: 25%;
    font-weight: lighter;
    width: 100%;
    left: 0;

    h1 {
      //font-weight: lighter;
      font-size: 46px;
    }

    p {
      font-size: 35px;
    }
  }

  .carousel-indicators {
    bottom: 15%;

    li {
      margin: 5px;

      &.active {
        margin: 4px;
      }
    }
  }

  //@media screen and (min-width: 768px) {
  @include media-min(sm) {
    .carousel-caption {
      h1 {
        font-size: 90px;
      }

      p {
        font-size: 35px;
      }
    }
  }
}

//@media screen and (max-width: 768px) {
@include media-max(sm) {
  .stats {
    left: 0;
    width: 100%;
    margin: 0;
  }
}
