@import "_media_queries";

.modal-dialog {
  width: 750px;

  .modal-header {
    padding: 0;
    border-bottom: none;

    .close {
      margin: 0 10px;
      font-size: 40px;
    }
  }

  .modal-body {
    padding: 0 10px 10px;
  }

  &.modal-lg {
    width: 70vw;
    max-width: 1100px;
  }

}
