@import "variables";

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;

  .navbar-toggle {
    margin: 15px;
    color: white;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .navbar-brand {
    // Hide light logo, show dark logo
    .logo {
      display: none;
      margin: 10px 20px;
    }

    .logo-dark {
      display: block;
      width: 110px;
      margin: 4px 20px;
    }

    padding: 0;

    &:focus {
      outline: none;
    }
  }

  a {
    color: white;
  }

  .nav {
    li {
      a {
        &:hover {
          outline: none;
          background-color: transparent;
        }

        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: transparent;
        }
      }
    }
  }

  // overwrite bootstrap fixed bar
  &.navbar-fixed-top.affix-top {
    position: absolute;

    .logo {
      display: block;
      width: 140px;
    }

    .logo-dark {
      display: none;
    }
  }

  &.navbar-fixed-top.affix {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;

    // change links to dark color
    .navbar-nav > li {
      a {
        color: #CCCCCC;
      }
    }

    .navbar-toggle {
      color: #CCCCCC;
    }
  }

  // todo: review
  //@media screen and (max-width: 992px) {
  @include media-max(md) {
    .navbar-collapse {
      background-color: $product2;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      max-height: 100%;

      .social,
      .close-menu {
        i {
          margin: 10px;
        }
      }
    }
  }

  //@media screen and (min-width: 992px) {
  @include media-min(md) {
    padding: 5px 0 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;

    .navbar-nav > li {
      a {
        padding: 30px 8px 5px;
      }

      &.active {
        a {
          background-color: transparent;
          border-bottom: 2px solid $secondary;
        }
      }
    }
  }
}

//@media screen and (max-width: 992px) {
@include media-max(md) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;

    a {
      color: #FFF !important;
      font-size: 30px;
      padding: 20px;
      font-weight: 100;
    }

    &.active a {
      font-weight: 500;
    }
  }

  .collapse.in {
    display: block !important;
  }

  // hide carousel overlay on modal
  .img-overlay {
    pointer-events: none;

    &:hover:after {
      opacity: 0;
    }
  }
}
