.indicator {
  position: fixed;
  right: 5%;
  top: 20%;
  color: #FFF;
  z-index: 1;

  > ul {
    margin: 0;
    background: url(../images/indicator-bg.png) no-repeat center;

    > li {
      background: url(../images/indicator-inactive.png) no-repeat center;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        background: url(../images/indicator-active.png) no-repeat center;
      }

      a {
        height: 30px;
        width: 30px;
        display: block;

        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
  }
}
