.products-carousel {

  a {
    color: #C7C8C9;
  }

  .product-detail {
    color: #FFF;
    padding: 50px 15px 15px 15px;
    text-align: left;
    height: 280px;
    font-size: 15px;

    .h4 {
      margin: 15px 0;
    }

    .h3, .h4 {
      font-weight: 400;
    }

    p {
      font-size: 15px;
      margin-bottom: 15px;
    }
  }

  .carousel-indicators {
    width: 100%;
    padding-right: 15px;
    text-align: right;
    bottom: 245px;
    left: 0;
    margin: 0;

    li, .active {
      width: 10px;
      height: 10px;
      margin: 5px;
    }

    &.h3 {
      border-bottom: 1px solid #FFF;
      padding-bottom: 12px;
      margin: 0;
      text-align: left;
      padding-left: 10px;
      color: #fff;
      font-weight: 400;
      bottom: 230px;
    }
  }

  .madera-carousel {
    .product-detail {
      background-color: $product1;
    }
    .carousel-indicators-adicionales {
      display: none;
    }
  }

  .metal-carousel {
    .product-detail {
      background-color: $product2;
    }
    .carousel-indicators-madera {
      display: none;
    }
  }
}

@include media-max(xs) {
  .products-carousel {
    .carousel-indicators {
      width: 100%;
      padding: 0 5px;
      text-align: center;
      bottom: 245px;
      left: 0;
      margin: 0;
      display: flex;
      justify-content: space-evenly;

      li, .active {
        width: 100%;
        height: 100%;
        margin: 5px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      .carousel-indicators-numbers.active {
        background-color: #fff;
      }

      &.h3 {
        bottom: 200px;
      }
    }

    .product-detail {
      padding: 80px 10px 0 10px;

      ul {
        padding-left: 25px;
      }
    }
  }
}
