@import "variables";

.taller-container {
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;

  .label {
    font-size: 12px;
    vertical-align: middle;
  }

  .h3, .h4, .h5 {
    margin: 10px 0;
  }

  .h3 {
    color: #666666;
  }

  .h4 {
    color: $product2;
  }

  .h5 {
    color: $product1;
    font-weight: 500;
  }

  .taller-left {
    height: 280px;
  }

  // DIV - col-md-12
  > div {
    padding: 0;
    overflow: hidden;
  }

  .taller-detail {
    padding: 0 10px;
  }

  .taller-description, .taller-description-left {
    a {
      color: $product2;
    }
  }
}
