$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'font-awesome/scss/font-awesome.scss';
@import 'animatewithsass/animate.scss';
// endbower

@import "variables";
@import '_modal';
@import '_navbar';
@import '_footer';
@import '_contact';
@import '_home';
@import '_products';
@import '_events';
@import '_workshops';
@import '_carousel';
@import '_page_indicator';
@import '_domo';
@import '_about';
@import '_bioarquitectura';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $roboto;
  color: #666666;
  background-color: #FFF;
  font-weight: 300;
  position: relative; // required by scrollspy!
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 35px;
  font-weight: lighter;
  letter-spacing: 1px;
}

h2, .h2 {
  margin: 0;
  background: #00ADEF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #F06122, #00ADEF); /* For Safari 5.1 to 6.0 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  display: inline-block;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  //@media screen and (min-width: 768px) {
  @include media-min(sm) {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: white;

  &.primary {
    color: $primary;
    cursor: pointer;

    &:hover, &:focus {
      color: darken($primary, 20%);
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
  }
}

// Nico
.fadeIn {
  @include fadeIn();
}

.fadeInDown {
  @include fadeInDown();
}

.small-border {
  width: 60px;
  border-color: lightgrey;
}

.gallery {
  .img-overlay {
    margin: 10px 0;
  }
}

.img-overlay {
  position: relative;
  display: block;

  &:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacicity 1s;
    -webkit-transition: opacicity 1s;
    background: rgba(0, 0, 0, 0.6) url(../images/img-overlay.png) no-repeat center center;
  }

  &:hover:after {
    opacity: 1;
  }
}

.social-networks {
  position: fixed;
  bottom: 40%;
  left: 5%;
  background-color: #10B8FF;
  border-radius: 5px;
  padding: 5px;
  width: 35px;
  text-align: center;
  z-index: 15;
  font-size: 1.6em;

  > a {
    display: block;
  }
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden; // Hack blank margins mobile!
}

.container-dark {
  background-color: #F5F5F7;
  border-bottom: 1px solid #C6C7CA;
  border-top: 1px solid #C6C7CA;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(0, 0, 0, 0.5);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(0, 0, 0, 0.5);
}

.img-grayscale {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  transition: filter .5s ease-in;

  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

// Bootstrap same height columns!
.row.row-equal-height {
  display: flex;
}
.row.row-equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.row-wrap {
  flex-wrap: wrap;
}

//@media screen and (max-width: 992px) {
@include media-max(md) {
  h2, .h2 {
    font-size: 7vw;
  }
}

///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
@include media-min(sm) {
  .content-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container {
    max-width: 1000px;
  }
}

