<!doctype html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Domos C&oacute;rdoba - Domos Geod&eacute;sicos</title>
    <meta name="description" content="Fabricaci&oacute;n, venta, alquiler e instalaci&oacute;n de domos geod&eacute;sicos desde C&oacute;rdoba Argentina a todo el mundo.">
    <meta name="keywords" content="domos, domo, geodesico, geodesicos, cordoba, argentina, venta, alquiler, carpas, eventos, alquiler, viviendas, kit, talleres, madera, metal, invernaderos, bioarquitectura" />
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ez-space-css-repo/css/ez-space.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png?v=69kl76wR6N">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png?v=69kl76wR6N">
    <link rel="shortcut icon" href="favicon.ico?v=69kl76wR6N">
</head>
<body ng-app="domoscbaApp" id="page-top" ng-controller="MainController as MainCtrl" data-spy="scroll" data-target=".nav-scrollspy">
<!--[if lte IE 8]>
<p class="browsehappy">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.
</p>
<![endif]-->

<!-- Navigation -->
<div ng-include="'views/navbar.html'"></div>

<!--Fixed Social Networks Desktop-->
<div class="hidden-sm hidden-xs social-networks">
    <a href="https://www.facebook.com/domoscordoba" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/domoscordoba/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCiCmOy5VuQnY4OaHoaNHh4A" target="_blank"><i class="fa fa-youtube-play"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+5493541202127" target="_blank"><i class="fa fa-whatsapp"></i></a>
</div>

<!--Fixed right indicator sidebar-->
<div ng-include="'views/sidebar-indicator.html'"></div>

<!--Home Section-->
<div uib-carousel
     active="MainCtrl.homeSlideshow.active"
     interval="MainCtrl.homeSlideshow.myInterval"
     no-wrap="MainCtrl.homeSlideshow.noWrapSlides"
     class="home-carousel hide-carousel-controls"
     id="home"
     ng-swipe-left="MainCtrl.next(MainCtrl.homeSlideshow)"
     ng-swipe-right="MainCtrl.prev(MainCtrl.homeSlideshow)">
    <div uib-slide ng-repeat="slide in MainCtrl.homeSlideshow.slides track by slide.id" index="slide.id"
         ng-style="{'background-image': 'url(' + slide.image + ')'}">
        <div class="carousel-caption">
            <h1>DOMOS<br>GEOD&Eacute;SICOS</h1>
            <p ng-bind-html="slide.subtext"></p>
            <p ng-bind-html="slide.description" ng-if="slide.description" class="hidden-xs hidden-sm"></p>
            <p ng-if="slide.link">
                <a href="{{slide.link}}" target="_blank">
                    Ver sitio <i class="fa fa-external-link"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<!-- Stats -->
<div class="carousel-indicators stats">
    <article class="stats-item" ng-repeat="stat in MainCtrl.stats track by $index">
        <a class="stats-item-link" ng-if="stat.link" href="{{stat.link}}" target="_blank"></a>
        <i class="fa stats-item-icon" ng-class="stat.icon"></i>
        <div class="stats-item-detail">
            <div ng-bind="stat.total" class="stats-item-total"></div>
            <div ng-bind="stat.label" class="stats-item-label"></div>
        </div>
    </article>
</div>

<!-- Arrow Down -->
<a target="_self" href="#domo" class="carousel-indicators home-arrow">
    <i class="fa fa-angle-down animated fadeInDown"></i>
</a>

<!-- Domo Section -->
<div id="domo" ng-include="'views/domo.html'"></div>

<!-- About/Nosotros Section -->
<div id="nosotros" ng-include="'views/about.html'"></div>

<!-- Products Section -->
<div id="kits" ng-include="'views/products.html'"></div>

<!-- Bioarquitectura Section -->
<div id="bioarquitectura" ng-include="'views/bioarquitectura.html'"></div>

<!-- Events Section -->
<div id="alquiler" ng-include="'views/events.html'"></div>

<!-- Workshops/Talleres Section -->
<div id="talleres" ng-include="'views/workshops.html'"></div>

<!-- Gallery Section -->
<!--<div id="galeria" ng-include="'views/gallery.html'"></div>-->

<!-- International Section -->
<div id="internacional" ng-include="'views/international.html'"></div>

<!-- Contact Section -->
<div id="contacto-enviado"></div>
<div id="contacto" ng-include="'views/contact.html'"></div>

<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        {{MainCtrl.currentYear}}&copy; DOMOS C&Oacute;RDOBA
        <a href="https://www.linkedin.com/in/nicolaskaen/"
           target="_blank"
           tooltip-placement="top"
           class="logo-developer"
           uib-tooltip="Desarrollo">
            NK
        </a>
        <!--<a href="http://www.adesign.com.ar"-->
           <!--target="_blank"-->
           <!--tooltip-placement="top"-->
           <!--uib-tooltip="Diseño">-->
            <!--<img src="images/logo-a-design.png" alt="DISEÑO">-->
        <!--</a>-->
    </div>
</footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-822435-12', 'auto');
    ga('send', 'pageview');
</script>


<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBnbV_9sIMDtWm0GFDNAxGWexz1HR4GeWQ",
        authDomain: "domoscba-c802c.firebaseapp.com",
        databaseURL: "https://domoscba-c802c.firebaseio.com",
        projectId: "domoscba-c802c",
        storageBucket: "domoscba-c802c.appspot.com",
        messagingSenderId: "737021795553"
    };
    firebase.initializeApp(config);
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/galleryModal.js"></script>
<script src="scripts/services/domos.service.js"></script>
<!-- endbuild -->
</body>
</html>
