<div class="container-transparent about-container">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    Nosotros
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    Somos una empresa constructora dedicada a la fabricación, venta y alquiler de
                    domos geodésicos de madera y de acero. <br>
                    En nuestra trayectoria, llevamos más de 5
                    años de experiencia en el rubro, con más de 120 domos de madera fabricados e
                    instalados en diferentes regiones del país y más de 18 capacitaciones impartidas
                    tanto en Argentina como en España, México y Uruguay.
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-6 profile" ng-repeat="profile in MainCtrl.about track by $index">
                <div class="row row-equal-height">
                    <div class="col-xs-6 profile-pic">
                        <img ng-src="{{::profile.pic}}" alt="Foto perfil" class="img-responsive">
                    </div>
                    <div class="col-xs-6 profile-detail">
                        <h3 class="profile-name">
                            <a class="btn-link">
                                <i class="fa fa-2x fa-caret-right"></i>
                                {{::profile.name}}
                            </a>
                        </h3>
                        <div ng-bind="profile.role" class="profile-role"></div>
                        <div ng-bind="profile.interest" class="profile-interest"></div>
                        <blockquote class="profile-quote hidden-xs xs-mb-0">
                            {{::profile.quote.message}}
                            <footer><cite ng-bind="profile.quote.author"></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
