<div class="container-transparent">
    <section class="container content-section text-center bio-arq">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                     when-visible="MainCtrl.animateElementIn"
                     when-not-visible="MainCtrl.animateElementOut"
                     delay-percent="0.2">
                    Bioarquitectura
                </div>
                <hr class="small-border">

                <h3>Proyecto + Obra Exterior Terminado</h3>

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    En sinergia con el estudio de Arquitectura Van-Gross, brindamos servicio integral de diseño,
                    proyecto y ejecución de hábitats geodésicos, tanto para cabañas y viviendas, como para desarrollos
                    de eco-turismo. En nuestros diseños y construcciones aplicamos principios de permacultura y
                    bioclimática, priorizando el uso de materiales
                    amigables con el medio ambiente.
                </p>
            </div>
        </div>

        <div class="row row-equal-height row-wrap">
            <div class="col-md-6 col-md-push-6 text-left">
                <div class="row profile">
                    <div class="col-xs-6 profile-pic">
                        <img ng-src="{{::MainCtrl.aboutBioArq.pic}}" alt="Foto perfil" class="img-responsive">
                    </div>
                    <div class="col-xs-6 profile-detail">
                        <h3 class="profile-name">
                            <a class="btn-link">
                                <i class="fa fa-2x fa-caret-right"></i>
                                {{::MainCtrl.aboutBioArq.name}}
                            </a>
                        </h3>
                        <div ng-bind="MainCtrl.aboutBioArq.role" class="profile-role"></div>
                        <div ng-bind="MainCtrl.aboutBioArq.interest" class="profile-interest"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="row">
                    <div class="col-sm-12" id="carousel-bio-arq">
                        <div uib-carousel
                             active="MainCtrl.bioArqSlideshow.active"
                             interval="MainCtrl.bioArqSlideshow.myInterval"
                             no-wrap="MainCtrl.bioArqSlideshow.noWrapSlides"
                             ng-swipe-left="MainCtrl.next(MainCtrl.bioArqSlideshow)"
                             ng-swipe-right="MainCtrl.prev(MainCtrl.bioArqSlideshow)"
                             class="carousel-lg hide-carousel-indicators carousel-indicators-simple">
                            <div uib-slide
                                 ng-repeat="slide in MainCtrl.bioArqSlideshow.slides track by slide.id"
                                 index="slide.id">
                                <a class="img-overlay" ng-click="MainCtrl.openGallery(slide.image, 'bioArq', 'lg')">
                                    <img ng-src="{{::slide.image}}" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row xs-mt-30">
            <div class="col-xs-12">
                <p>
                    Solicitá presupuesto y más información a través del
                    <a href="#contacto" target="_self" class="primary">formulario de contacto</a>.
                </p>
            </div>
        </div>
        <div class="row bio-logos">
            <div class="col-xs-3 bio-logo">
                <img class="img-responsive" src="images/logo-dark.png" alt="LOGO DOMOS CORDOBA">
            </div>
            <div class="col-xs-3 bio-logo">
                <a href="http://www.labioguia.com/notas/tabi-aprende-a-construir-de-manera-natural-y-con-tus-propias-manos"
                   target="_blank"
                   class="bio-link"
                   tooltip-placement="top"
                   uib-tooltip="Link a La Bioguía">
                    <img class="img-responsive" src="images/logos/logo-van-gross.png" alt="LOGO VAN GROSS">
                </a>
            </div>
            <div class="col-xs-3 bio-logo">
                <img class="img-responsive" src="images/logos/logo-azimut.png" alt="LOGO AZIMUT">
            </div>
            <div class="col-xs-3 bio-logo">
                <a href="https://suberlev.la/"
                   target="_blank"
                   class="bio-link">
                    <img class="img-responsive" src="images/logos/logo-suberlev.png" alt="LOGO SUBERLEV">
                </a>
            </div>
        </div>
    </section>
</div>
