<div class="container-transparent contact">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    Contacto
                </div>
                <hr class="small-border">
                <br>

                <!--<p class="col-lg-12 invisible"-->
                <!--when-visible="MainCtrl.animateElementIn"-->
                <!--when-not-visible="MainCtrl.animateElementOut"-->
                <!--delay-percent="0.2">-->
                <!--Fábrica de Domos Córdoba:-->
                <!--<a target="_blank" href="https://www.google.com/maps/place/31%C2%B043'34.0%22S+64%C2%B026'22.1%22W/@-31.7260984,-64.441653,652m/data=!3m2!1e3!4b1!4m8!1m2!11m1!3e4!3m4!1s0x0:0x0!8m2!3d-31.726103!4d-64.439459?hl=es">-->
                <!--Villa Los Aromos, Córdoba, Argentina <i class="fa fa-map-marker"></i>-->
                <!--</a>-->
                <!--</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <div class="alert alert-custom alert-dismissible" role="alert"
                     ng-if="MainCtrl.contactFormSuccess">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <span ng-bind="MainCtrl.contactFormSuccess"></span>
                </div>
                <!--<div class="alert alert-danger alert-dismissible" role="alert" ng-if="MainCtrl.contactFormFail">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span-->
                <!--aria-hidden="true">&times;</span></button>-->
                <!--<span ng-bind="MainCtrl.contactFormFail"></span>-->
                <!--</div>-->
                <!--<form ng-submit="MainCtrl.submitContactForm()"-->
                <form action="https://formspree.io/domoscba@gmail.com"
                      method="POST"
                      class="invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control transparent-input"
                            placeholder="Nombre"
                            name="name"
                            required>
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control transparent-input"
                            placeholder="Teléfono"
                            name="phone"
                            required>
                    </div>
                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control transparent-input"
                            name="_replyto"
                            placeholder="Mail"
                            required>
                    </div>
                    <div class="form-group">
                        <textarea
                            class="form-control transparent-input"
                            placeholder="Mensaje"
                            name="msg"
                            rows="5"
                            required></textarea>
                    </div>
                    <input type="text" name="_gotcha" style="display:none"/>
                    <input type="hidden" name="_next"
                           value="http://domoscordoba.com/#contacto-enviado"/>
                    <input type="hidden" name="_language" value="es"/>
                    <input type="hidden" name="_subject" value="[WEB][CONTACTO]"/>
                    <input type="submit" value="Enviar" class="btn btn-submit"/>
                </form>
            </div>
            <div class="col-md-3">
                <div class="contact-info text-center invisible"
                     when-visible="MainCtrl.animateElementIn"
                     when-not-visible="MainCtrl.animateElementOut"
                     delay-percent="0.2">

                    <p>También podes llamarnos o comunicarte por WhatsApp a los siguientes números:</p>

                    <p>
                        <strong>Juan Ignacio Olveira</strong><br>
                        <a href="https://api.whatsapp.com/send?phone=+5493541202127"
                           target="_blank">
                            <i class="fa fa-whatsapp"></i> 3541 202 127
                        </a>
                    </p>

                    <p>
                        <strong>Juan Jos&eacute; S&aacute;nchez</strong><br>
                        <a href="https://api.whatsapp.com/send?phone=+5493514593658"
                           target="_blank">
                            <i class="fa fa-whatsapp"></i> 351 459-3658
                        </a>
                    </p>

                    <p>
                        Visitanos en nuestra fábrica, únicamente con coordinación previa.
                        <br>
                        <a target="_blank"
                           href="https://goo.gl/maps/SDRSFYx8PYkMSuJh7">
                            <i class="fa fa-map-marker"></i> Av. los Aromos, <br> Villa Los Aromos, Córdoba
                        </a>
                    </p>

                    <p>
                        <a href="mailto:info@domoscordoba.com"><i class="fa fa-envelope-o"></i>
                            info@domoscordoba.com</a>
                    </p>

                    <p class="visible-xs contact-social">
                        Seguínos en
                        <a href="https://www.facebook.com/domoscordoba" target="_blank" class="xs-ml-10 xs-mr-10">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/domoscordoba/" target="_blank" class="xs-ml-10 xs-mr-10">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCiCmOy5VuQnY4OaHoaNHh4A" target="_blank" class="xs-ml-10 xs-mr-10">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#page-top" class="go-up" target="_self">
                    <i class="fa fa-angle-up animated fa-3x"></i>
                </a>
            </div>
        </div>
    </section>
</div>
