<div class="container-dark">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12 scrollme">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    &iquest;Qu&eacute; es un <strong>Domo Geodésico</strong>?
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    Es una construcción semiesférica, autoportante y sismoresistente, inspirada en los
                    patrones geométricos de la naturaleza.
                </p>
                <div class="">
                    <img
                        src="images/grafico_domo.gif"
                        alt="Domos"
                        class="img-responsive center-block">
                </div>
                <div class="text-center">
                    <button class="btn btn-link video-link" ng-click="MainCtrl.viewVideo = !MainCtrl.viewVideo">
                        VER VIDEO EXPLICATIVO <i class="fa fa-youtube-play"></i>
                    </button>
                </div>
                <div class="col-md-8 col-md-offset-2" ng-if="MainCtrl.viewVideo">
                    <div class="video-wrapper">
                        <iframe
                            src="https://www.youtube.com/embed/XaBE7HC6KyY"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            frameBorder="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
