<div class="container-dark">
    <section class="container content-section text-center events">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    Alquiler de Domos para Eventos
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    Disponemos de una amplia variedad de domos de primer nivel y en diferentes
                    tamaños para todo tipo de proyectos.
                    Realizamos diseños personalizados y servicio de instalación en toda la provincia
                    y el país.
                </p>
            </div>
        </div>
        <div class="row visible-md visible-lg">
            <div ng-repeat="slide in MainCtrl.eventsSlideshow.slides">
                <div ng-class="{'col-md-6': slide.size === 'lg', 'col-md-3': slide.size !== 'lg'}"
                     class="events-column">
                    <a class="img-overlay"
                       ng-click="MainCtrl.openGallery(slide.image, 'events')"
                       style="background-image: url({{::slide.image}})">
                    </a>
                </div>
            </div>
        </div>
        <div class="row hidden-md hidden-lg">
            <div class="col-sm-12" id="carousel-events">
                <div uib-carousel
                     active="MainCtrl.eventsSlideshow.active"
                     interval="MainCtrl.eventsSlideshow.myInterval"
                     no-wrap="MainCtrl.eventsSlideshow.noWrapSlides"
                     ng-swipe-left="MainCtrl.next(MainCtrl.eventsSlideshow)"
                     ng-swipe-right="MainCtrl.prev(MainCtrl.eventsSlideshow)">
                    <div uib-slide
                         ng-repeat="slide in MainCtrl.eventsSlideshow.slides track by slide.id"
                         index="slide.id">
                        <a class="img-overlay" ng-click="MainCtrl.openGallery(slide.image, 'events')">
                            <img ng-src="{{::slide.image}}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<div class="invisible"-->
        <!--when-visible="MainCtrl.animateElementIn"-->
        <!--when-not-visible="MainCtrl.animateElementOut"-->
        <!--delay-percent="0.2">-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://www.pintecord.com.ar/" target="_blank">-->
        <!--<img src="images/logo_pintecord_gray.png" alt="Logo Pintecor" class="logo-light">-->
        <!--<img src="images/logo_pintecord_color.png" alt="Logo Pintecor" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://www.positivobgh.com" target="_blank">-->
        <!--<img src="images/logo_bgh_gray.png" alt="Logo BGH" class="logo-light">-->
        <!--<img src="images/logo_bgh_color.png" alt="Logo BGH" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://www.agec-cba.com/" target="_blank">-->
        <!--<img src="images/logo_agec_gray.png" alt="Logo Agec" class="logo-light">-->
        <!--<img src="images/logo_agec_color.png" alt="Logo Agec" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://www.londontravel.com.ar/isfun/" target="_blank">-->
        <!--<img src="images/logo_london_gray.png" alt="Logo London" class="logo-light">-->
        <!--<img src="images/logo_london_color.png" alt="Logo London" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://cetol.com.ar/" target="_blank">-->
        <!--<img src="images/logo_cetol_gray.png" alt="Logo Cetol" class="logo-light">-->
        <!--<img src="images/logo_cetol_color.png" alt="Logo Cetol" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-4 col-sm-2">-->
        <!--<a class="logo-container" href="http://www.google.com" target="_blank">-->
        <!--<img src="images/logo_oxford_gray.png" alt="Logo Oxford" class="logo-light">-->
        <!--<img src="images/logo_oxford_color.png" alt="Logo Oxford" class="logo-dark">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </section>
</div>
