<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="GalleryModalCtrl.ok()">
        <span aria-hidden="true">&times;</span>
    </button>
    <!--<h3 class="modal-title" id="modal-title">Galeria</h3>-->
</div>
<div class="modal-body" id="modal-body">
    <div uib-carousel
         active="GalleryModalCtrl.slideshow.active"
         interval="GalleryModalCtrl.slideshow.myInterval"
         no-wrap="GalleryModalCtrl.slideshow.noWrapSlides"
         class="modal-gallery hide-carousel-indicators"
         ng-class="{'hide-carousel-controls': GalleryModalCtrl.slideshow.hideControls}"
         ng-swipe-left="MainCtrl.next(MainCtrl.slideshow)"
         ng-swipe-right="MainCtrl.prev(MainCtrl.slideshow)">
        <div uib-slide ng-repeat="slide in GalleryModalCtrl.slideshow.slides track by slide.id"
             index="slide.id">
            <img ng-src="{{::slide.image}}" class="img-responsive">
        </div>
    </div>
</div>
