<div class="container-dark">
    <section class="container content-section text-center gallery">
        <div class="row">
            <div class="col-md-12">
                <div class="h2">Galer&iacute;a</div>
                <hr class="small-border">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-6">
                <!--img 2columns-->
                <a class="img-overlay hidden-xs hidden-sm" ng-click="MainCtrl.openGallery('images/galleria-1.jpg')">
                    <img src="images/galleria-1.jpg" alt="Foto Galeria 1" class="img-responsive">
                </a>

                <!--img 1 column-->
                <a class="img-overlay visible-xs visible-sm" ng-click="MainCtrl.openGallery('images/galleria-3.jpg')">
                    <img src="images/galleria-3.jpg" alt="Foto Galeria 2" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-md-3">
                <a class="img-overlay" ng-click="MainCtrl.openGallery('images/galleria-2.jpg')">
                    <img src="images/galleria-2.jpg" alt="Foto Galeria 2" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-md-3">
                <a class="img-overlay" ng-click="MainCtrl.openGallery('images/galleria-3.jpg')">
                    <img src="images/galleria-3.jpg" alt="Foto Galeria 3" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-3">
                <a class="img-overlay" ng-click="MainCtrl.openGallery('images/galleria-4.jpg')">
                    <img src="images/galleria-4.jpg" alt="Foto Galeria 4" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-md-3">
                <a class="img-overlay" ng-click="MainCtrl.openGallery('images/galleria-4.jpg')">
                    <img src="images/galleria-4.jpg" alt="Foto Galeria 5" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 col-md-6">
                <!--img 2columns-->
                <a class="img-overlay hidden-xs hidden-sm" ng-click="MainCtrl.openGallery('images/galleria-5.jpg')">
                    <img src="images/galleria-5.jpg" alt="Foto Galeria 1" class="img-responsive">
                </a>

                <!--img 1 column-->
                <a class="img-overlay visible-xs visible-sm" ng-click="MainCtrl.openGallery('images/galleria-2.jpg')">
                    <img src="images/galleria-2.jpg" alt="Foto Galeria 2" class="img-responsive">
                </a>
            </div>
        </div>
    </section>
</div>
