<div class="container-dark">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    Internacional
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    Domos Córdoba te invita a conectar con tu domo sea donde sea que estés. Si estas
                    fuera de argentina, te invitamos a que explores nuestra tienda afiliada, y
                    accedas a tu propio domo geodésico, sea para uso personal, eco turismo, eventos,
                    viviendas o juegos para niños.
                    <br><br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <a href="https://store.pacificdomes.com/?wpam_id=48" target="_blank">
                    <img
                        src="https://store.pacificdomes.com/wp-content/uploads/2019/07/pacific-domes-affiliates-creative17.jpg"
                        alt="Pacific Domes Online Store"
                        class="img-responsive img-grayscale center-block"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a href="https://store.pacificdomes.com/?wpam_id=48" target="_blank">
                    <img
                        src="https://store.pacificdomes.com/wp-content/uploads/2019/07/pacific-domes-affiliates-creative18.jpg"
                        alt="Pacific Domes Online Store"
                        class="img-responsive img-grayscale center-block"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 hidden-xs">
                <a href="https://store.pacificdomes.com/?wpam_id=48" target="_blank">
                    <img
                        src="https://store.pacificdomes.com/wp-content/uploads/2019/07/pacific-domes-affiliates-creative15.jpg"
                        alt="Pacific Domes Online Store"
                        class="img-responsive img-grayscale center-block"/>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="xs-m-0 xs-mt-30 text-center">
                    <a target="_blank" href="https://store.pacificdomes.com/?wpam_id=48"
                       class="primary">
                        Descubrí Más de Pacific Domes
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>
