<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="450">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-2x fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" target="_self">
                <img src="images/logo-light.png" alt="Logo Domos Cordoba" class="logo">
                <img src="images/logo-dark.png" alt="Logo Domos Cordoba" class="logo-dark">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse nav-scrollspy" id="navbar-links">
            <div class="row visible-xs visible-sm">
                <div class="col-xs-9 text-left social">
                    <a href="http://www.facebook.com/domoscordoba" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
                    <a href="http://www.instagram.com/domoscordoba" target="_blank"><i
                        class="fa fa-2x fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCiCmOy5VuQnY4OaHoaNHh4A" target="_blank"><i
                        class="fa fa-2x fa-youtube-play"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=+5493541202127" target="_blank"><i
                        class="fa fa-2x fa-whatsapp"></i></a>
                </div>
                <div class="col-xs-3 text-right close-menu">
                    <a data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-2x fa-close"></i></a>
                </div>
            </div>


            <ul class="nav navbar-nav" data-target=".navbar-main-collapse" data-toggle="collapse">
                <li>
                    <a target="_self" href="#home">INICIO</a>
                </li>
                <li>
                    <a target="_self" href="#domo">DOMO</a>
                </li>
                <li>
                    <a target="_self" href="#nosotros">NOSOTROS</a>
                </li>
                <li>
                    <a target="_self" href="#kits">KITS</a>
                </li>
                <li>
                    <a target="_self" href="#bioarquitectura">BIOARQUITECTURA</a>
                </li>
                <li>
                    <a target="_self" href="#alquiler">ALQUILER</a>
                </li>
                <li>
                    <a target="_self" href="#talleres">TALLERES</a>
                </li>
                <li>
                    <a target="_self" href="#internacional">INTERNACIONAL</a>
                </li>
                <li>
                    <a target="_self" href="#contacto">CONTACTO</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
