<div class="container-dark">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    DOMOS EN KIT
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    La mejor opción para quienes quieren auto construir su propio domo de madera. <br>
                    Se entregan desarmados, con diagramas e instructivos para el montaje. <br>
                    Más de 80 personas ya han armado sus propios domos a través de nuestros Kits. <br>
                    Conocé a continuación los diferentes tamaños y productos adicionales que tenemos disponibles.
                </p>
            </div>
        </div>
        <div class="row products-carousel">
            <div class="col-md-6 xs-mb-15" id="carousel-madera">
                <div uib-carousel
                     template-url="products-carousel-template"
                     active="MainCtrl.maderaSlideshow.active"
                     interval="MainCtrl.maderaSlideshow.myInterval"
                     no-wrap="MainCtrl.maderaSlideshow.noWrapSlides"
                     class="madera-carousel hide-carousel-controls"
                     ng-swipe-left="MainCtrl.next(MainCtrl.maderaSlideshow)"
                     ng-swipe-right="MainCtrl.prev(MainCtrl.maderaSlideshow)">
                    <div uib-slide ng-repeat="slide in ::MainCtrl.maderaSlideshow.slides track by slide.id"
                         index="slide.id">
                        <a class="img-overlay" ng-click="MainCtrl.openGallery(slide.image, 'madera')">
                            <img ng-src="{{::slide.image}}" class="img-responsive">
                        </a>
                        <div class="product-detail">
                            <div class="h4" ng-bind-html="slide.name"></div>
                            <ul>
                                <li ng-repeat="detail in slide.details">
                                    {{::detail.label}}: {{::detail.text}}
                                </li>
                            </ul>
                            <p ng-bind="slide.description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 xs-mb-15" id="carousel-adicionales">
                <div uib-carousel
                     template-url="products-carousel-template"
                     active="MainCtrl.metalSlideshow.active"
                     interval="MainCtrl.metalSlideshow.myInterval"
                     no-wrap="MainCtrl.metalSlideshow.noWrapSlides"
                     class="metal-carousel hide-carousel-controls"
                     ng-swipe-left="MainCtrl.next(MainCtrl.metalSlideshow)"
                     ng-swipe-right="MainCtrl.prev(MainCtrl.metalSlideshow)">
                    <div uib-slide ng-repeat="slide in ::MainCtrl.metalSlideshow.slides track by slide.id"
                         index="slide.id">
                        <a class="img-overlay" ng-click="MainCtrl.openGallery(slide.image, 'adicionales')">
                            <img ng-src="{{::slide.image}}" class="img-responsive">
                        </a>
                        <div class="product-detail">
                            <div class="h4" ng-bind-html="slide.name"></div>
                            <ul>
                                <li ng-repeat="metalDetail in ::slide.description">
                                    {{::metalDetail}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="xs-mb-0 xs-mt-15">
                    <a href="https://drive.google.com/file/d/17a8UIveiujNuFY2br80FVV_Xz1dfWs-j/view?usp=sharing"
                       download
                       target="_blank"
                       class="primary">
                        +Info y catalogo completo <i class="fa fa-download"></i>
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>

<!--Carousel custom template-->
<script type="text/ng-template" id="products-carousel-template">
    <div class="carousel">
        <div class="carousel-inner" ng-transclude></div>

        <div class="carousel-indicators carousel-indicators-products carousel-indicators-madera h3">
            Madera
        </div>
        <div class="carousel-indicators carousel-indicators-products carousel-indicators-adicionales h3">
            Adicionales
        </div>

        <ol class="carousel-indicators">
            <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index"
                class="carousel-indicators-numbers"
                ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
                {{:: $index + 1 }}
            </li>
        </ol>
    </div>
</script>
