<div class="visible-lg indicator nav-scrollspy">
    <ul class="nav list-unstyled">
        <li>
            <a target="_self" href="#home" tooltip-placement="right" uib-tooltip="1/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#domo" tooltip-placement="right" uib-tooltip="2/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#nosotros" tooltip-placement="right" uib-tooltip="3/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#kits" tooltip-placement="right" uib-tooltip="4/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#bioarquitectura" tooltip-placement="right" uib-tooltip="5/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#alquiler" tooltip-placement="right" uib-tooltip="6/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#talleres" tooltip-placement="right" uib-tooltip="7/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#internacional" tooltip-placement="right" uib-tooltip="8/9">
            </a>
        </li>
        <li>
            <a target="_self" href="#contacto" tooltip-placement="right" uib-tooltip="9/9">
            </a>
        </li>
    </ul>
</div>
