<div class="container-transparent">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="h2 invisible"
                      when-visible="MainCtrl.animateElementIn"
                      when-not-visible="MainCtrl.animateElementOut"
                      delay-percent="0.2">
                    Talleres y Capacitaciones
                </div>
                <hr class="small-border">

                <p class="col-lg-10 col-lg-offset-1 invisible"
                   when-visible="MainCtrl.animateElementIn"
                   when-not-visible="MainCtrl.animateElementOut"
                   delay-percent="0.2">
                    Desde nuestra experiencia brindamos talleres y capacitaciones de alto nivel en
                    ambientes de disfrute, armonía y profesionalismo, en donde enseñamos a fabricar
                    domos geodésicos, claves de emprendedurismo y geometría sagrada. <br>
                    Para más información de próximos talleres y capacitaciones, por favor completar
                    el siguiente formulario:
                    <br><br>

                    <a class="primary"
                       target="_blank"
                       href="https://goo.gl/forms/QOG3EC0Lo1KHv2Ym1">
                        +Info y pre-inscripción próximo taller
                        <i class="fa fa-calendar-check-o"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <!--Display only 2 workshops on mobile-->
            <div class="col-sm-6 {{$index}}"
                 ng-repeat="taller in MainCtrl.talleres | limitTo:MainCtrl.workshopsLimit"
                 ng-class="{'hidden-xs': !MainCtrl.showMoreWorkshops && $index >= 2}">
                <div class="taller-container invisible"
                     when-visible="MainCtrl.animateElementIn"
                     when-not-visible="MainCtrl.animateElementOut"
                     delay-percent="0.2">
                    <div class="col-md-7">
                        <a class="img-overlay"
                           ng-click="MainCtrl.openGallery(taller.image, 'taller')">
                            <img ng-src="{{::taller.image}}" alt="{{::taller.title}}" class="img-responsive">
                        </a>
                    </div>
                    <div class="taller-detail text-left col-md-5">
                        <div class="h3 xs-mb-10 xs-mt-10" ng-bind="taller.title"></div>
                        <div class="h4" ng-bind="taller.subtitle"></div>
                        <div class="h5" ng-bind-html="taller.detail"></div>
                        <div class="taller-description-left" ng-if="taller.album">
                            <a ng-href="{{::taller.album}}" target="_blank">
                                Mira las fotos del taller.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Show More-->
        <div class="row" ng-if="!MainCtrl.showMoreWorkshops">
            <div class="col-md-12">
                <p>
                    <a ng-click="MainCtrl.toggleShowMoreLimit()" class="primary">Ver más</a>
                </p>
            </div>
        </div>

        <!--Show Less-->
        <div class="row" ng-if="MainCtrl.showMoreWorkshops">
            <div class="col-md-12">
                <p><a ng-click="MainCtrl.toggleShowMoreLimit()" class="primary">Ver menos</a></p>
            </div>
        </div>
    </section>
</div>
